@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
